[Unit]
Description=airquality

[Service]
Type=simple
User=root
Group=root
ExecStart=/srv/http/vhosts/air-quality/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
